.logo{
	margin-right: 10px;
	margin-left: 10px;
}
ul{
	margin-right: 100px;
}
#nav{
	margin-left: 20px;
	margin-right: 5px;
}
p{
	font-size: 15px;
}
#flash{
	font-size: 30px;
}
h6{
	font-size: 10px;
}
#space{
	margin-top: 50px;
}
#bigspace{
	margin-top: 80px;
}
.footer{
	background-color: #eaeaea;
	height: 70px;
	line-height: 70px;
	font-weight: bold;
}